<div>
	<h1 id="start-a-group">Do you want to start an e/group?</h1>

	<form class="form-horizontal text-left" role="form">

		<h3>
			Leader
		</h3>
		<form-group name="jg-yourname" label="Your Name">
			<form-input name="jg-yourname" model="group.yourname"></form-input>
		</form-group>
		<form-group name="jg-youremail" label="Email Address">
			<form-input name="jg-youremail" model="group.youremail" type="email"></form-input>
		</form-group>
		<form-group name="jg-yourphone" label="Phone Number">
			<form-input name="jg-yourphone" model="group.yourphone" type="tel"></form-input>
		</form-group>

		<h3>
			e/group
		</h3>
		<form-group name="jg-name" label="Group name">
			<form-input name="jg-name" model="group.name"></form-input>
			<form-hint>
				This is what will appear in our e/groups catalog. You don't need to include &rsquo;Elevate&rsquo;, &rsquo;ELC&rsquo;, etc.
			</form-hint>
		</form-group>
		<form-group name="jg-catalogDescription" label="Catalog Description">
			<form-input name="jg-catalogDescription" model="group.catalogDescription"></form-input>
			<form-hint>
				Advertise your group in 75 words or less as you would want it posted in our online catalog.
			</form-hint>
		</form-group>
		<form-group name="jg-generalDescription" label="General Description">
			<form-input name="jg-generalDescription" model="group.generalDescription"></form-input>
			<form-hint>
				Give us an overview of what your group is all about. This will be helpful insight to pair you with a coach.
			</form-hint>
		</form-group>
		<form-group name="e/Group Type" label="Category">
			<select ng-model="group.udf_group_pulldown_1_id" id="e/Group Type" name="e/Group Type" class="form-control">
				<option value="1">Encounter -Spiritual Growth</option>
				<option value="2">Embrace -Connect with Others</option>
				<option value="3">Elevate -Service/Outreach</option>
			</select>
		</form-group>
		
		<form-group name="jg-semester" label="Semester">
			<select ng-model="group.udf_group_pulldown_3_id" id="jg-semester" name="jg-semester" class="form-control">
				<option value="2">e/Group Fall 2015</option>
			</select>
		</form-group>
		<form-group name="jg-people" label="Who is your e/group for?">
			<select ng-model="group.udf_group_pulldown_2_id" id="jg-people" class="form-control">
					<option value="10">Co-ed</option>
					<option value="11">Men</option>
					<option value="12">Women</option>
					<option value="13">Students</option>
					<option value="14">Families</option>
					<option value="15">Children</option>	
					<option value="16">Couples</option>
			</select>
		</form-group>
		<!--<form-group name="jg-ages" label="Age Range">-->
		<!--	<select ng-model="group.udf_group_pulldown_3_id" id="jg-ages" class="form-control">-->
		<!--		<option value="4">Any Age</option>-->
		<!--		<option value="9">Middle School</option>-->
		<!--		<option value="10">High School</option>-->
		<!--		<option value="8">18-24</option>-->
		<!--		<option value="6">18+</option>-->
		<!--		<option value="7">Young Adults</option>-->
		<!--		<option value="5">40+</option>-->
		<!--	</select>-->
		<!--</form-group>-->
		<form-group name="jg-when" label="What day will you usually meet?">
			<select ng-model="group.meeting_day_id" id="jg-when" class="form-control">
					<option value="1">Varies</option>
					<option value="4">Sunday</option>
					<option value="5">Monday</option>
					<option value="6">Tuesday</option>
					<option value="7">Wednesday</option>
					<option value="8">Thursday</option>
					<option value="9">Friday</option>
					<option value="10">Saturday</option>
			</select>
		</form-group>
		<form-group name="jg-time-id" label="What time of day?">
			<select ng-model="group.meeting_time_id" id="jg-time-id" class="form-control">
					<option value="1">Morning</option>
					<option value="2">Afternoon</option>
					<option value="3">Evening</option>
			</select>
		</form-group>
		<form-group name="jg-time-start" label="What time will it start?">
			<form-input name="jg-time-start" model="group.meeting_time_start"></form-input>
		</form-group>
		<form-group name="jg-time-end" label="What time will it end?">
			<form-input name="jg-time-end" model="group.meeting_time_end"></form-input>
		</form-group>
		<form-group name="jg-childcare" label="Is this group child-friendly?">
			<label>
				<input ng-model="group.childcare_provided" id="jg-childcare" type="checkbox">
				Yes, let the children come!
			</label>
		</form-group>

		<h3>
			Location
		</h3>
		<form-group name="jg-street" label="Street Address">
			<form-input name="jg-street" model="group.meeting_location_street_address"></form-input>
		</form-group>
		<form-group name="jg-city" label="City">
			<form-input name="jg-city" model="group.meeting_location_city"></form-input>
		</form-group>
		<form-group name="jg-state" label="State">
			<form-input name="jg-state" model="group.meeting_location_state"></form-input>
		</form-group>
		<form-group name="jg-zip" label="Zip">
			<form-input name="jg-zip" model="group.meeting_location_zip"></form-input>
		</form-group>

		<div class="text-center find-container">
			<input ng-if="!saving" type="submit" ng-click="startAGroup()" class="btn btn-primary btn-start-a-group"
				   value="Start a Group"/>

			<div ng-if="saving" class="progress progress-striped active">
				<div class="progress-bar progress-bar-striped active" role="progressbar">
					<span>Starting Your Group...</span>
				</div>
			</div>
		</div>

	</form>
</div>
