<!--
  Email Modal
-->
<div class="modal fade send-email-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h2 class="modal-title">Email {{ contact.owner_name._ }}</h2>
			</div>
			<div class="modal-body">
				<form class="form-horizontal text-left" role="form">

					<div class="form-group">
						<label for="c-name" class="col-sm-5 control-label">What&rsquo;s your name?</label>

						<div class="col-sm-7">
							<input type="text" ng-model="contact.name" id="c-name" name="c-name" class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<label for="c-email" class="col-sm-5 control-label">What&rsquo;s your email?</label>

						<div class="col-sm-7">
							<input type="email" ng-model="contact.email" id="c-email" name="c-email"
								   class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<label for="c-phone" class="col-sm-5 control-label">What&rsquo;s your phone number?</label>

						<div class="col-sm-7">
							<input type="tel" ng-model="contact.phone" id="c-phone" name="c-phone"
								   class="form-control"/>
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<div class="text-right find-container">
					<button ng-if="!contacting" type="button" class="btn btn-default" data-dismiss="modal">Cancel
					</button>

					<input ng-if="!contacting" type="submit" ng-click="submitEmailDialog()"
						   class="btn btn-primary btn-send-email"
						   value="Contact"/>

					<div ng-if="contacting" class="progress progress-striped active">
						<div class="progress-bar progress-bar-striped active" role="progressbar">
							<span>Sending...</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
  Search Form
-->

<div>
	<h1>Looking for an e/group this semester?</h1>

	<form class="form-horizontal text-left" role="form">

		<div class="form-group">
			<label for="jg-type" class="col-sm-3 control-label">What kind?</label>

			<div class="col-sm-9">
				<select ng-model="search.type" id="jg-type" name="jg-type" class="form-control">
					<option value="NONE">Any Kind of Group</option>
					<option value="1">Encounter (Spiritual Growth)</option>
					<option value="2">Embrace (Connect with Others)</option>
					<option value="3">Elevate (Service/Outreach)</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="jg-when" class="col-sm-3 control-label">What day?</label>

			<div class="col-sm-9">
				<select ng-model="search.when" id="jg-when" class="form-control">
					<option value="ANY">Any Meeting Day</option>
					<option value="1">Varies</option>
					<option value="4">Sunday</option>
					<option value="5">Monday</option>
					<option value="6">Tuesday</option>
					<option value="7">Wednesday</option>
					<option value="8">Thursday</option>
					<option value="9">Friday</option>
					<option value="10">Saturday</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="jg-time" class="col-sm-3 control-label">What time?</label>

			<div class="col-sm-9">
				<select ng-model="search.time" id="jg-time" class="form-control">
					<option value="NONE">Any Time</option>
					<option value="1">Morning</option>
					<option value="2">Afternoon</option>
					<option value="3">Evening</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="jg-people" class="col-sm-3 control-label">What people?</label>

			<div class="col-sm-9">
				<select ng-model="search.people" id="jg-people" class="form-control">
					<option value="NONE">Any People</option>
					<option value="10">Co-ed</option>
					<option value="11">Men</option>
					<option value="12">Women</option>
					<option value="13">Students</option>
					<option value="14">Families</option>
					<option value="15">Children</option>	
					<option value="16">Couples</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="jg-type" class="col-sm-3 control-labe">What part of town?</label>
				<div class="col-sm-9">
					<select ng-model="search.type" id="Area of Town">
						<option value="ANY">Any Part</option>
						<option value="Fleming Island">11</option>
						<option value="Oakleaf Plantation">12</option>
						<option value="Other">13</option>
					</select>
				</div>
		</div>
		<!--<div class="form-group">-->
		<!--	<label for="jg-ages" class="col-sm-3 control-label">What ages?</label>-->

		<!--	<div class="col-sm-9">-->
		<!--		<select ng-model="search.ages" id="jg-ages" class="form-control">-->
		<!--			<option value="ANY">Any Age</option>-->
		<!--			<option value="9">Middle School</option>-->
		<!--			<option value="10">High School</option>-->
		<!--			<option value="6">Adults</option>-->
		<!--			<option value="5">40+</option>-->
		<!--		</select>-->
		<!--	</div>-->
		<!--</div>-->

		<div class="form-group">
			<label for="jg-childcare" class="col-sm-3 control-label">Is this kid friendly?</label>

			<div class="col-sm-9">
				<div class="checkbox text-left">
					<label>
						<input ng-model="search.childcare" id="jg-childcare" type="checkbox"> Yes, bring the children!
					</label>
				</div>
			</div>
		</div>

		<div class="text-center find-container">
			<input ng-if="!updating" type="submit" ng-click="updateResults()" class="btn btn-primary btn-find-a-group"
				   value="Find a Group"/>

			<div ng-if="updating" class="progress progress-striped active">
				<div class="progress-bar progress-bar-striped active" role="progressbar">
					<span>Searching for Groups...</span>
				</div>
			</div>
		</div>

	</form>
</div>

<!--
  Results
-->

<div class="row marketing">
	<a id="results"></a>

	<div ng-repeat="result in results" class="result">
		<h2 class="col-sm-offset-3">{{ result.name }}</h2>
		<dl class="dl-horizontal">

			<dt ng-if="result.meet_day_name !== 'Varies' && result.meet_time_name !== 'Varies'">When</dt>
			<dd ng-if="result.meet_day_name !== 'Varies' && result.meet_time_name !== 'Varies'">{{ result.meet_day_name
				}}&nbsp;{{ result.meet_time_name }}
			</dd>

			<dt ng-if="result.address.state">Where</dt>
			<dd ng-if="result.address.state">
				{{ result.address.city }}<span ng-if="result.address.city">,</span>
				{{ result.address.state }}
				{{ result.address.zip }}
			</dd>

			<dt>Description</dt>
			<dd>{{ result.description }}</dd>

			<!--<dt ng-if="result.ageGroup">Ages</dt>-->
			<!--<dd ng-if="result.ageGroup">{{ result.ageGroup }}</dd>-->

			<dt>Kid Friendly?</dt>
			<dd>{{ result.childcareProvided ? 'Yes' : 'No' }}</dd>

			<dt ng-if="result.groupType">Kind</dt>
			<dd ng-if="result.groupType">{{ result.groupType }}</dd>

			<dt ng-if="result.people">People</dt>
			<dd ng-if="result.people">{{ result.people }}</dd>

			<br/>
			<dt>Interested?</dt>
			<dd>
				<a ng-href="mailto:{{ result.owner_email_primary }}?subject=Joining%20{{ result.name | encodeURIComponent }}"
				   ng-click="sendEmail(result, $event)"
				   class="btn btn-primary">
					Email {{ result.owner_name._ }}</a></dd>
		</dl>

	</div>
	<div ng-if="results && results.length === 0">
		No results! Try changing your search.
	</div>
</div>
